* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dela Gothic One', cursive;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.head-text {
    font-family: 'Dela Gothic One';
    color: #1F1F1F;
}

.all-text {
    font-family: 'Manrope', sans-serif;
    color: #000000;
}

.wrapper {
    margin: 0 auto;
    width: 1440px;
}

.main-head {
    display: flex;
    flex-direction: column;
}

.main-head__block {
    display: flex;
    margin: 0 auto;
    width: 1100px;
    justify-content: space-between;
}

.main-head__text {
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.04em;
}

.main-head__main-title {
    font-size: 24px;
    line-height: 35px;
    letter-spacing: 0.04em;
    box-shadow: inset 250px 0px 0px 1px #F3EB91;
}

.main-head__navigation {
    display: flex;
    align-items: center;
    height: 44px;
    background-color: #5E428C;
}

.main-head__navigation__block {
    display: flex;
    margin: 0 auto;
    width: 1100px;
    justify-content: space-between;
}

.main-head__block-in__link {
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
}

.main-head__block-in__link:hover {
    text-decoration: underline;
    color: #ffffff;
}


/*Контент часть*/

.content__head-block__text {
    font-size: 64px;
    line-height: 93px;
    letter-spacing: 0.04em;
}

.content {
    position: relative;
    margin-top: 39px;
    width: 100%;
}

.content__head-block {
    position: absolute;
    margin-top: 37px;
    margin-left: 130px;
}

.content__text {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.04em;
    width: 547px;
    margin-bottom: 37px;
}

.content__font-block1 {
    position: absolute;
    width: 760px;
    height: 481px;
    left: 0px;
    top: 0px;
    background: #F3EB91;
}

.content__font-block2 {
    position: absolute;
    width: 732px;
    height: 254px;
    left: 130px;
    top: 145px;
    background: #E74B8F;
}

.content__font-block3 {
    position: absolute;
    width: 480px;
    height: 314px;
    left: 630px;
    top: 234px;
    background: #67D3F7;
}

.content__font-block4 {
    position: absolute;
    width: 306px;
    height: 18px;
    left: 1134px;
    top: 530px;
    background: #5E428C;
}

.content__head-block__year {
    margin-left: 1000px;
    margin-top: 151px;
    font-size: 30px;
}

.line {
    position: relative;
    left: 0px;
    top: 628px;
    border: 1px solid #5E428C;
    width: 100%;
    margin-bottom: 720px;
}

.content__text-width {
    width: 530px;
}

.content__portfolio__text {
    margin-bottom: 37px;
}

.content__portfolio__btn {
    width: 300px;
    height: 70px;
    border: none;
    background-color: #5E428C;
    filter: drop-shadow(0px 4px 20px rgba(166, 116, 249, 0.43));
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.content__portfolio__btn:hover {
    filter: drop-shadow(0px 4px 20px #A674F9);
}

.content__portfolio__img {
    width: 735px;
}

.content__portfolio {
    display: flex;
    padding-left: 130px;
    padding-right: 130px;
}

.content__text {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.04em;
    width: 547px;
    margin-bottom: 37px;
}